// Copyright 2014 - 2017 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% load ngfilter %}
{% bootstrap_css %}
{% bootstrap_javascript %}

div.ng-cloak(ng-controller="cardAddController")
  h3 {{ "card.title" | ng}} ({{ "card.price | currency: '€'" | ng }})
  .row
    table
      tr
        td.my-narrow {% trans "shelf" %}
        td: select.my-narrow(ng-model="shelf", ng-options="it.fields.name for it in shelfs")
      tr
        td.my-narrow {% trans "supplier" %}
        td

          ui-select.my-narrow(ng-model="distributor.selected", ng-change="filter_deposits()")
            ui-select-match
              span(ng-bind="$select.selected.repr")
            ui-select-choices(
              repeat="item in (distributor_list | filter:$select.search) track by item.id",
              refresh="refreshDistributors($select.search, $select)",
              refresh-delay="100",)
              span(ng-bind="item.name")
          a(target="_blank", href="/admin/search/distributor/add")
                i.glyphicon.glyphicon-plus-sign(title='{% trans "Add a supplier" %}')

      tr
        td {% trans "Minimal qty" %}
        td
          input(type="number", min=0, ng-model="threshold")

  .row(ng-show="filtered_deposits.length")
      h4 {% trans "Add to following deposits" %}:
      table.table.table-condensed.table-striped.my-table-narrow
        tr(ng-repeat="it in filtered_deposits")
         td.my-narrow {{ "it.name" | ng }} ({{ "it.distributor" | ng }})
         td
           input(type="number", min=0
            ng-model="deposits[$index].quantity"
            ng-change="update_total_deposits()")
        tr
          td
          td {% trans "total" %}: {{ "total_deposits" | ng }}

  .row
      h4 {% trans "Buy copies for each place" %}:
      table.table.table-condensed.my-table-narrow
        tr(ng-repeat="it in places")
          td.my-narrow {{ "it.name" | ng }}
          td
              input(type="number", min=0, ng-model="places[$index].quantity", ng-change="update_total_places()")
        tr
          td
          td.text-left {% trans "total" %}: {{ "total_places" | ng }}
        tr
          td
          td.text-left {% trans "with discount" %}: {{ "total_places_discount" | ng }}

  .row
      h4 {% trans "Add to baskets" %}:
      table.table.table-condensed.table-striped.my-table-narrow
        tr(ng-repeat="it in baskets")
          td.my-narrow {{ "it.name" | ng }}
          td
            input(type="number", min=0, ng-model="baskets[$index].quantity")


  input.btn.btn-primary(value="{% trans 'Validate' %}", ng-click="validate()")

{% endblock content %}