// Copyright 2014 - 2017 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-cloak, ng-controller="collectionController")

 {% if messages %}
 ul.messages
  {% for msg in messages %}
  uib-alert(type="{{ msg.tags }}") {{ msg }}
  {% endfor %}
 {% endif %}

 div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 form(ng-submit="validate()")
  .row
   .col-md-6
    div.form-group
      label.col-md-4 {% trans "Search terms" %}
      div.col-md-8
        input.form-control#default-input(
          ng-model="query"
          type="text"
          placeholder='{% trans "Search on title, authors or isbn" %}'
        )

  .row
   .col-md-6
    form
     div
        label.col-sm-4 {% trans "Type of card" %}
        div.col-md-8
          select.form-control(
            ng-model="card_type"
            ng-options="elt.name group by elt.group for elt in card_types"
          )

    div
      label.col-sm-4 {% trans "Publisher" %}
      div.col-md-8
        select.form-control(
          ng-model="publisher"
          ng-options="elt.fields.name for elt in publishers")

    div
      label.col-sm-4 {% trans "Supplier" %}
      div.col-md-8
        select.form-control(
          ng-model="distributor"
          ng-options="elt.repr for elt in distributors")

   .col-md-6
    div.form-group
        label.col-sm-4 {% trans "Places" %}
        div.col-md-8
          select.form-control(
            ng-model="place"
            ng-options="elt.name for elt in places")

    div.form-group
      label.col-sm-4 {% trans "Shelf" %}
      div.col-md-8
        select.form-control(
          ng-model="shelf"
          ng-options="elt.fields.name for elt in shelfs")

 .row
   .col-md-7(style="margin-top: 7px; margin-bottom: 7px")
     input.btn.btn-primary(value="{% trans 'Search' %}", ng-click="validate()", type="submit")

     .btn-group

       button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
         span.caret

       ul.dropdown-menu
         li: a(href="#", ng-click="add_to_lists()", ng-show="selected", title='{% trans "Add the cards selected to basket(s)" %}'){% trans 'Add selection to baskets…' %}
         li: a(href="#", ng-click="set_supplier()", ng-show="selected", title='{% trans "Set the supplier for the selection" %}'){% trans 'Set supplier…' %}

     .btn-group
       button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Export" %}…
         span.caret

       ul.dropdown-menu
         li: a(href="/stock/export?query={{ 'query' | ng }}&format=txt&select=selection&publisher_id={{ 'publisher.pk' | ng}}&place_id={{ 'place.id' | ng}}&card_type={{ 'card_type' | ng}}&shelf_id={{ 'shelf.pk' | ng}}&distributor_id={{ 'distributor.id' | ng}}", ng-show="selected", title='{% trans "Export the selection to txt" %}'){% trans 'Selection to txt' %}
         li: a(href="/stock/export?format=csv&select=all", title='{% trans "Export the stock to csv" %}'){% trans 'Stock to csv (Excel, LibreOffice) (this may take a while)' %}

      .btn-group
        button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers" %}')
          i.glyphicon.glyphicon-th-list

        a.btn.btn-default(role="button"
                          href="http://abelujo.cc/docs/view_stock/"
                          target="_blank",
                          title='{% trans "Read the documentation" %}')
          i.glyphicon.glyphicon-question-sign

      span(style="margin-top: 18px; margin-left: 7px") {% trans "Number of titles" %}: {{'stats.nb_titles.value'|ng}}
      span(style="margin-top: 18px; margin-left: 7px") {% trans "Number of books" %}: {{'stats.nb_cards.value'|ng}}

  .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="cards.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="cards.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")


 div(ng-show="cards.length == 0") {% trans "No results" %}

 table.row-border.hover.table.table-condensed.table-striped(ng-show="cards.length != 0")
    thead
      th: input(type="checkbox", ng-click="toggleAll()")
      th(ng-show="show_images")
      th {% trans "Title" %}
      th {% trans "Price" %}
      th {% trans "Authors" %}
      th {% trans "Publishers" %}
      th {% trans "Supplier" %}
      th {% trans "Shelf" %}
      th {% trans "Quantity" %}
      th {% trans "In deposits" %}
      th {% trans "Places" %}

    tbody
      tr(ng-repeat="card in cards")
        td: input(type="checkbox", ng-model="selected[card.id]")
        td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="card.cover", src="{{ 'card.cover' | ng }}")
        td
          .row
            .col-md-9
              div: a(href="{{ 'card.get_absolute_url' | ng }}") {{ 'card.title' | ng }}
              h6(ng-show="show_images")
                a(ng-show="card.details_url", href="{{ 'card.details_url' | ng }}", target="_blank") {% trans "See on" %} {{ 'card.data_source' |ng}}
              .row(ng-show="show_images")
               .col-md-6
                b isbn: 
                span {{ 'card.isbn' |ng}}
                div {{ 'card.date_publication | date: "mediumDate"' | ng }}
                div(ng-show="show_images && card.fmt") {{ 'card.fmt' | ng }}

        td
          div {{ 'card.price | currency' | ng}}

        td
          div(ng-repeat="author in card.authors")
            div {{ 'author.fields.name' |ng}}
        td {{ 'card.pubs_repr' | ng }}
        td {{ 'card.distributor_repr' | ng }}
        td {{ 'card.shelf' | ng }}
        td.text-right {{ 'card.quantity' | ng }}
        td.text-right {{ 'card.qty_deposits' | ng }}
        td
          div(ng-show="card.places") {{ 'card.places' | ng}}

 .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="cards.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="cards.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")



 script(type="text/ng-template", id="collectionModal.html")
    div.modal-header
      h3.modal-title {% trans "Add to basket(s)" %}

    div.modal-body
      div(ng-repeat="basket in baskets")
        span
          input(type="checkbox", ng-model="selected_baskets[basket.id]")
          label {{ 'basket.name' | ng}}

      button.btn.btn-primary(ng-click="ok()") OK

{% endblock content %}
