// Copyright 2014 - 2017 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% extends "base.jade" %}

{% block content %}

// TODO: we may not need this anymore, since the InventoryCommnand is (intended to be) generic.
//- - var controller = 'CommandReceiveController'
- var controller = 'inventoryNewController'

div.bg-danger
  span
    i.glyphicon.glyphicon-info-sign
  span This page has the basic features but is still under heavy construction.

include search/inventory_view_component.jade

{% endblock content %}
