// Copyright 2014 - 2017 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-cloak, ng-controller="basketToCommandController")

  div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  ul.nav.nav-tabs.nav-justified
    li.active(role="presentation")
      a(href="#") {% trans "To command" %}
    li#ongoing(role="presentation")
      a(href="/commands/ongoing") {% trans "Commands ongoing" %}  
        span.badge.ng-cloak(title='{% trans "Number of ongoing commands." %}')   {{ "ongoing_commands_nb" | ng }}

  .col-md-2
    ul.list-group
     div#suppliers(ng-repeat="(dist_name, cards) in sorted_cards")
        li.list-group-item.mouse-pointer(
          ng-class="{active: it[0].id == false}"
          ng-click="dist_href(dist_name)"
          popover-trigger="mouseenter"
          popover-placement="left") {{ " dist_name " | ng }}
            span.badge {{ " cards.length " | ng }}
     li.list-group-item.mouse-pointer(
          ng-show="meta.nb_copies_no_dist",
          ng-class="",
          ng-click="dist_href('undefined')",
          popover-trigger="mouseenter",
          popover-placement="left") {% trans "no distributor" %}
            span.badge {{ 'meta.nb_copies_no_dist' | ng }}



  .col-md-10

    .row
     .col-md-1
      .btn-group
       button#export.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
           span.caret
       ul.dropdown-menu
           li: a(href="/baskets/1/export?format=txt&report=simplelisting", title='{% trans "Export the list of all cards to command in txt format." %}') {% trans "Listing" %} - txt

           li: a(href="/baskets/1/export?format=csv&report=simplelisting", title='{% trans "Export the list of all cards to command in a csv, suitable for LibreOffice and to give to other services, like Dilicom." %}') {% trans "isbn and quantity" %} - csv (Dilicom)

     .col-md-2
      .btn-group
         a(href="http://abelujo.cc/docs/commands/", target="_blank"): button.btn.btn-default(title='{% trans "Read the documentation" %}')
            i.glyphicon.glyphicon-question-sign

         button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers (d)" %}')
           i.glyphicon.glyphicon-th-list

         button.btn.btn-default(ng-click="start_tour()")
           i.glyphicon.glyphicon-info-sign

     .col-md-5
        h4 {% trans "Total" %}: {{'super_total_copies()'|ng}} {% trans "copies" %}, {{'super_total_price()'|ng}} €

    div.panel.panel-info(style="margin-top: 5px;")
        div.panel-heading {% trans "Help" %}
        div.panel-body
          div {% trans "The cards to command are grouped by supplier. Check the quantity you want to command and send them an email." %}
          div {% trans "You can also export all this list to csv, wich will contain, for each card, the isbn and the quantity to command. This format is well suited to feed in the website of some resailers, like Dilicom." %}

    div#distributors(ng-repeat="(dist_name, cards) in sorted_cards")
          span
            .row
             a.my-black-link(href="{{ 'grouped_dist[dist_name][0].get_absolute_url' | ng}}")
              h4.col-md-6.myanchor(id="{{ 'dist_name' | ng}}") {{ 'dist_name'|ng}}  
               a(href="mailto:{{'grouped_dist[dist_name][0].email'|ng}}?subject={% trans 'New command' %}&body={% trans 'Hello' %} %0D%0A %0D%0A {{ 'bodies[dist_name]' | ng }}", ng-click="get_body(dist_name)")
                i.glyphicon.glyphicon-envelope(title="{% trans 'Write to' %}  {{ 'grouped_dist[dist_name][0].email' | ng}} {% trans ' with your desktop mail client' %}")

               div.btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
                   span.caret
                 ul.dropdown-menu
                   li: a(href="/baskets/1/export?format=txt&report=simplelisting&distributor_id={{ 'grouped_dist[dist_name][0].id' | ng}}", title='{% trans "Export the list of all cards to command in txt format." %}') {% trans "Listing" %} - txt

                   li: a(href="/baskets/1/export?format=csv&report=simplelisting&distributor_id={{ 'grouped_dist[dist_name][0].id' | ng}}", title='{% trans "Export the list of all cards to command in a csv, suitable for LibreOffice and to give to other services, like Dilicom." %}') {% trans "isbn and quantity" %} - csv (Dilicom)

               button#ok.btn.btn-success(ng-click="validate_command(dist_name)",
                 title='{% trans "The command was passed, we`ll wait to receive it." %}') {% trans "Ok" %}

          table.table.table-condensed.table-striped
              thead
                th(ng-show="show_images")
                th {% trans "Title" %}
                th {% trans "Author" %}
                th {% trans "Publisher" %}
                th.text-right {% trans "Price" %}
                th.text-right {% trans "With discount" %} {{ 'grouped_dist[dist_name][0].discount' | ng}}
                th.text-right {% trans "Quantity left" %}
                th.text-right {% trans "To command" %}
              tbody
                tr(ng-repeat="card in cards")
                  td(ng-show="show_images")
                    .col-md-6(ng-show="show_images")
                      img.myImg(ng-show="card.cover", src="{{ 'card.cover' | ng }}")

                  td.col-md-6: a(href="{{ 'card.get_absolute_url' | ng}}") {{ 'card.title' | ng }}
                  td.col-md-1 {{ 'card.authors_repr' | ng }}
                  td.col-md-1 {{ 'card.pubs_repr' | ng }}
                  td.col-md-1.text-right {{ 'card.price | number:2' |ng }} €
                  td.col-md-1.text-right {{ 'card.price_discounted | number:2' |ng }} €
                  td.col-md-1.text-right {{ 'card.quantity' |ng }}
                  td.col-md-1
                    input.my-number-input(type="number", min=0, max=99,
                      ng-model="card.basket_qty"
                      ng-change="save_quantity(dist_name, $index)")
                    i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection(dist_name, $index)", style="padding-left: 1em;", title='{% trans "Remove from list" %}')

                tr
                  td(ng-show="show_images")
                  td.col-md-7 {% trans "Total" %}
                  td
                  td
                  td.col-md-1.text-right {{ 'get_total_price(dist_name)' |ng}}  €
                  td.col-md-1.text-right {{ 'get_total_price_discounted(dist_name)' |ng}}  €
                  td
                  td.col-md-1 {{'get_total_copies(dist_name)'|ng}}

                tr
                  td(ng-show="show_images")
                  td
                    | {% trans "Total" %}
                    | {# Translators: excl. tax: price excluding tax (french: HT). #}
                    | {% trans "excl. tax" %}

                  td
                  td
                  td.text-right  {{ 'get_total_price_excl_vat(dist_name)' |ng}}  €
                  td.text-right  {{ 'get_total_price_discounted_excl_vat(dist_name)' |ng}}  €
                  td
                  td

    ///////////////////////////////////////////////////////////////
    // Same for undefined distributor. jade -> horrible copy-paste.
    span
            .row
             h4.col-md-6.myanchor(id="undefined") {% trans "Undefined distributor" %}
             div.btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
                   span.caret
                 ul.dropdown-menu
                   li: a(href="/baskets/1/export?format=txt&report=simplelisting&distributor_id={{ 'grouped_dist[dist_name][0].id' | ng}}", title='{% trans "Export the list of all cards to command in txt format." %}') {% trans "Listing" %} - txt

                   li: a(href="/baskets/1/export?format=csv&report=simplelisting&distributor_id={{ 'grouped_dist[dist_name][0].id' | ng}}", title='{% trans "Export the list of all cards to command in a csv, suitable for LibreOffice and to give to other services, like Dilicom." %}') {% trans "isbn and quantity" %} - csv (Dilicom)

               button#ok.btn.btn-success(ng-click="validate_command(dist_name)",
                 title='{% trans "The command was passed, we`ll wait to receive it." %}') {% trans "Ok" %}

    .row
           .btn-group
              span.text-right(aria-label="page navigation")
                   ul.pagination(ng-show="true", ng-cloak)
                     li.page-item
                       a.page-link(ng-click="firstPage()")  &laquo;
                     li.page-item
                       a.page-link(ng-click="previousPage()") <
                     li.page-item
                       a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_copies_no_dist' | ng }})
                     li.page-item
                       a.page-link(ng-click="nextPage()") >
                     li.page-item
                       a.page-link(ng-click="lastPage()") &raquo;

    table.table.table-condensed.table-striped
              thead
                th(ng-show="show_images")
                th {% trans "Title" %}
                th {% trans "Author" %}
                th {% trans "Publisher" %}
                th.text-right {% trans "Price" %}
                th.text-right {% trans "With discount" %} {{ 'grouped_dist[dist_name][0].discount' | ng}}
                th.text-right {% trans "Quantity left" %}
                th.text-right {% trans "To command" %}
              tbody
                tr(ng-repeat="card in cards_no_dist")
                  td(ng-show="show_images")
                    .col-md-6(ng-show="show_images")
                      img.myImg(ng-show="card.cover", src="{{ 'card.cover' | ng }}")

                  td.col-md-6: a(href="{{ 'card.get_absolute_url' | ng}}") {{ 'card.title' | ng }}
                  td.col-md-1 {{ 'card.authors_repr' | ng }}
                  td.col-md-1 {{ 'card.pubs_repr' | ng }}
                  td.col-md-1.text-right {{ 'card.price | number:2' |ng }} €
                  td.col-md-1.text-right {{ 'card.price_discounted | number:2' |ng }} €
                  td.col-md-1.text-right {{ 'card.quantity' |ng }}
                  td.col-md-1
                    input.my-number-input(type="number", min=0, max=99,
                      ng-model="card.basket_qty"
                      ng-change="save_quantity(dist_name, $index)")
                    i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection(dist_name, $index)", style="padding-left: 1em;", title='{% trans "Remove from list" %}')

                tr
                  td(ng-show="show_images")
                  td.col-md-7 {% trans "Total" %}
                  td
                  td
                  td.col-md-1.text-right {{ 'get_total_price("undefined")' |ng}}  €
                  td.col-md-1.text-right {{ 'get_total_price_discounted("undefined")' |ng}}  €
                  td
                  td.col-md-1 {{'get_total_copies("undefined")'|ng}}

                tr
                  td(ng-show="show_images")
                  td
                    | {% trans "Total" %}
                    | {# Translators: excl. tax: price excluding tax (french: HT). #}
                    | {% trans "excl. tax" %}

                  td
                  td
                  td.text-right  {{ 'get_total_price_excl_vat("undefined")' |ng}}  €
                  td.text-right  {{ 'get_total_price_discounted_excl_vat("undefined")' |ng}}  €
                  td
                  td

    .row
           .btn-group
              span.text-right(aria-label="page navigation")
                   ul.pagination(ng-show="true", ng-cloak)
                     li.page-item
                       a.page-link(ng-click="firstPage()")  &laquo;
                     li.page-item
                       a.page-link(ng-click="previousPage()") <
                     li.page-item
                       a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_copies_no_dist' | ng }})
                     li.page-item
                       a.page-link(ng-click="nextPage()") >
                     li.page-item
                       a.page-link(ng-click="lastPage()") &raquo;


  // we'll use the modal shortly !
  script(type="text/ng-template", id="commandModal.html")
    div.modal-header
      h3.modal-title {% trans "Command" %}
      div {% trans "The cards are grouped by supplier. Please check the list and confirm." %}

    div.modal-body
      div(ng-repeat="(dist_name, cards) in sorted_cards")
        h4 pub: {{ 'dist_name'|ng}}
        div(ng-repeat="card in cards")
          div {{'card.title'|ng}}

  //- button.btn.btn-primary(ng-click="open('lg')") {% trans 'Command…' %}

{% endblock %}